html,
body {
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
          user-select: none;
}

.page-content {
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.content-block{
  padding-bottom: 56px;
}
.content-block>div{
  background: none;
}
.views,
.page {
  overflow: hidden;
}

/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

     <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
  background: rgb(247, 247, 248);
}

.material .page .page-content .content-block-title:first-of-type,
.material .page .page-content .card:first-of-type,
.material .page .page-content .content-block:first-of-type {
  margin-top: 56px;
}

/* Fix for checkbox and radio titles in material */
.material .list-block .label-radio .item-inner .item-title,
.material .list-block .label-checkbox .item-inner .item-title {
  line-height: 40px;
}

.material .list-block .item-link .item-inner,
.material .media-list .item-link .item-title-row {
  background-image: none;
}

.ios .panel {
  background-color: #ffffff;
}

.ios.with-panel-left-cover .panel-overlay {
  opacity: 1;
  background: rgba(0,0,0,0.2);
}

.ios .list-block .label-radio .item-media {
  display: none;
}

.card-content .track-name {
  font-weight: bold;
}

.card-content .album-title {
  font-style: italic;
}

.card-content .preview audio {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.playback-controls {
  height: 64px;
}

.playback-controls .play-button,
.playback-controls .pending-button,
.playback-controls .stop-button {
  position: absolute;
  opacity: 0.01;
  visibility: hidden;
	display: block;
	box-sizing: border-box;
	width: 64px;
	height: 64px;
	background: #e6e6e6;
	border-radius: 50%;
	padding: 16px 16px;
}

.playback-controls .pending-button .preloader {
  width: 32px;
  height: 32px;
}

.playback-controls a.displayed {
  opacity: 1;
  visibility: visible;
}

.playback-controls .play-button .arrow-right {
	width: 0;
	height: 0;
	margin-left: 8px;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 24px solid #333333;
}

.playback-controls .stop-button .square {
  width:24px;
  height: 24px;
	margin: 4px;
  background: #333333;
}

.playback-controls .duration {
  position: absolute;
  left: 80px;
  height: 64px;
  box-sizing: border-box;
  right: 0;
  padding: 8px 16px;
  line-height: 48px;
}

.playback-controls .progressbar {
  display: inline-block;
}

/*News Page Styling*/
.news-page{
  margin: 0;
  padding: 0;
}
.news-page .eitem{
  padding: 0px 10px;
}

/*Swipper*/
.swiper-container {
    width: 100%;
    height: 300px;
}
.swiper-slide h1{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  color:#fff;
  background-color: #333;
  opacity: .9;
  font-size: 20px;
}
.slide-1{
  background-image: url('../img/cork.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-2{
  background-image: url('../img/show.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-3{
  background-image: url('../img/cork.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-4{
  background-image: url('../img/footbal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-5{
  background-image: url('../img/theresamay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-6{
  background-image: url('../img/JohnBruton.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.newsheader{
  height: 300px;
  background-color: #333;
}

#eTitle{
  padding: 5px;
background-color: rgb(232, 60, 60);
margin: 0;
box-shadow: 0px 4px 10px 0px #9e9e9e;
color: #fff;
font-family: cursive;
font-size: 50px;
text-align: center;
}

.eitem{
  height: 160px;
  margin-top: 20px;
  color: #333;
}

.eitem-img{
  width: 30%;
  height: 80%;
  margin-top: 5%;
  float: left;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;
}
#eitem-img-top{
  background-color: #ea4848;
  height: 30%;
  font-size: 2em;
  color: #fff;
}

#eitem-img-bottom{
  background-color: #f3f3f3;
  height: 70%;
  font-size: 4em;
}
.eitem-desc{
  width: 65%;
  height: 100%;
  padding: 0% 2.5% 0% 2.5%;
  overflow: hidden;
  float: left;
  text-align: center;
}
.eitem-desc #description{
  max-height: 28%;
  overflow: hidden;
}


/*Single new Page*/
.single-page{
  text-align: center;
  padding: 0;
}
.single-page #title{
  color:#ff5722;
}
.single-page #description{
  color: #333;
    line-height: 25px;
    font-size: 1.1em;
    padding: 10px;
}
.single-page button{
  position: absolute;
  font-size: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f44336;
  border: none;
  color: #fff;
}
.single-header{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.single-header img{
  width: 100%;
  height: 100%;
      box-shadow: 0 1px 20px 5px rgba(0,0,0,0.75);
}
.loc-time{
  position: absolute;
bottom: 50px;
font-size: 20px;
text-align: center;
width: 100%;
line-height: 40px;
padding: 5px;
background-color: rgba(51, 51, 51, 0.87);
color: #efefef;
}

/*End Single New page*/
/*End News Page*/

/*Start Grades Page*/
.grades-page ul{
  list-style-type: none;
padding: 0;
margin: 0 auto;
width: 100%;
text-align: center;
}
.grades-page ul li{
  background: #333;
    color: #efefef;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 0px;
}
.grades-page ul li #grade{
  background: #fff;
border-radius: 20px;
width: 80%;
margin: 0 auto;
color: #333;
padding: 10px;
margin-bottom: 10px;
}

/*End Grades Page*/

/*Timetable Page*/
.page-timetable{
  padding-bottom: 75px;
}
.timetable-section{
  width: 100%;
  height: 260px;
  color: #333;

}
.timetable-section .day{
  border-radius: 20px;
  float: left;
  width: 46%;
  height: 100%;
  margin: 2%;
  background-color: #efefef;
  text-align: center;
  overflow: hidden;
  position: relative;

}
.timetable-section .title{
  font-size: 20px;
  color: #efefef;
  background-color: #333;
  padding: 10px;
}

.timetable-section .info-sec{
  margin-top: 10px;
  height: auto;
}

.timetable-section .btn{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #333;
  border:none;
  width: 100%;
  height: 40px;
  line-height:40px;
  padding-top: 5px;
  color: #efefef;
}

/*Timetable Single*/
.page-timetable-single{
  text-align: center;
  color: #333;
  font-size: 1.2em;
}
.page-timetable-single .info-sec{
  padding: 30px;
  border-bottom: 1px solid grey;
}
.page-timetable-single .back-btn{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #ccc;
  color: #333;
}
/*End Timetable*/

.support-info{
  display: none;
  background-color:lightsalmon;
  border: 1px dotted steelblue;
}

#container1 .support-selection:nth-child(odd){
  border:2px solid steelblue;
}


/*Start Library*/
.libraryPage{
  margin-top: 56px;
}
/*End Library*/
