<ion-view title="myc_menu-login" hide-nav-bar="true" id="page4">
  <ion-content padding="true" style="background: url(img/ssmxVevSIKTBkapWhkqC_Background.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div>
      <img src="img/vI8Sz28vQ2yeP7X6geyX_TopBar.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="myc_menuLogin-heading1" style="color:#FDFDFD;font-weight:400;text-align:center;">Login</h2>
    <form id="myc_menuLogin-form4" class="list">
      <div>
        <img src="img/z8t8QXDUTaybNLmEdQSq_MYCbar.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="myc_menuLogin-list2">
        <label class="item item-input" id="myc_menuLogin-input5">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="myc_menuLogin-input6">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div>
        <img src="img/z8t8QXDUTaybNLmEdQSq_MYCbar.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <a ui-sref="myc_menuSide_menus" id="myc_menuLogin-button3" style="color:#FFFDFD;border-radius:18px 18px 18px 18px;" class="button button-dark  button-block">Log in</a>
    </form>
    <div id="myc_menuLogin-container3">
      <div>
        <img src="img/vI8Sz28vQ2yeP7X6geyX_TopBar.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>